env
.env
nodemon.json
server.key
server.cert
shop_backup_local.js
index2.html
cart-not-using-code.js
cart_backup.js
product_backup_local.js
admin_backup_local.js
shop_backup_local.js
products.json
cart.json
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
