<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to UrlGenerator</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body style="background-color: rgb(210, 239, 239);">
    <div class="Loginbox">
        <h1 style="font-size: 4rem;color: red;">NOT Found!</h1>
        <p>The page link you are looking for maybe broken or doesn't exist</p>
        </form>
    </div>
</body>
</html>